/* .wrapper {
	position: relative;
	display: table;
	margin: 10px 0;
	width: 100%;
	text-algn:right;
	> div {
		display: table-cell;
		width: 86px;
		text-align: right;
		font-size: 14px;
	}

	input{
		width: 90%;
		padding: 10px 7px;
		margin: 7px 0;
		border-radius: 4px;
		border:1px solid #dddee1;
		transition: width 1s;
		&:hover{
		    border-color: #b9b9bb;
		}
		&:focus{
		    border-color: #b9b9bb;
		    outline: 0;
		    box-shadow: 0 0 3px rgba(85,86,86,.8);
		}
	}
	input.withCon{
		width: 50%;
	}
} */
.wrapper {
	position: relative;
	display: flex; 
	flex-flow: row wrap;
	> div.input-label{
		position: absolute;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	> div.input-div.withCon{
		margin-left: 80px;
	}
	> div.input-div {
		z-index: 1;
		width: 100%;
		margin-left: 0;
		transition:margin .3s;
		> input{
			width: 100%;
			padding: 10px 7px;
			border-radius: 4px;
			border:1px solid #dddee1;
			box-sizing: border-box;
			&:hover{
			    border-color: #b9b9bb;
			}
			&:focus{
			    border-color: #b9b9bb;
			    outline: 0;
			    box-shadow: 0 0 3px rgba(85,86,86,.8);
			}
		}
	}
}
