.out-div {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    margin-top: -20%;
}

.register-panel {
    width: 100%;
    padding: 10px 0 20px 0;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 0 3px #fff;
    justify-content: center;
    align-items: center;
    &-title {
        display: flex;
        justify-content:space-between;
        align-items:baseline;
        width: 280px;
        margin: auto;
        /* position: relative;
        text-align: left;
        text-indent: 10px;
        width: 300px;
        margin: auto;
        color: #ffffff;
        font-size: 36px;
        font-weight: 200; */
        span:first-child{
            color: #ffffff;
            font-size: 36px;
            font-weight: 200;
        }
        span:last-child {
            color: #ffffff;
            font-size: 14px;
            font-weight: 200;
            a {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    &-row {
        position: relative;
        display: table;
        margin: 10px 0;
        width: 100%;
        >div {
            width: 86px;
            text-align: right;
            font-size: 14px;
        }
        >.register-panel-row-notice {
            position: absolute;
            text-align: left;
            text-indent: 12px;
            bottom: -13px;
            width: 100%;
            color: #ed3f14;
        }
    }
    input {
        appearance: none;
        outline: 0;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: rgba(255, 255, 255, 0.2);
        width: 250px;
        border-radius: 3px;
        padding: 10px 15px;
        margin: 0 auto 10px auto;
        display: block;
        text-align: center;
        font-size: 18px;
        color: white;
        transition-duration: 0.25s;
        font-weight: 300;
        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
        &:focus {
            background-color: rgb(255, 255, 255);
            width: 300px;
            color: #53e3a6;
        }
        &::placeholder {
            /* WebKit browsers */
            font-family: 'Source Sans Pro', sans-serif;
            color: white;
            font-weight: 300;
        }
    }
    &-button {
        display: inline-block;
        appearance: none;
        outline: 0;
        background-color: white;
        border: 0;
        padding: 10px 15px;
        color: #53e3a6;
        border-radius: 3px;
        width: 284px;
        cursor: pointer;
        font-size: 18px;
        transition-duration: 0.25s;
        &:hover,&:focus {
            color:#50a3a2;
            background-color: #f5f7f9;
        }
    }
}
