.login{
	width: 100%;
	height: 100%;
	background: url('http://thepatternlibrary.com/img/aq.jpg') repeat;
	/* background-size: cover; */
	position: relative;
	display: flex;
	justify-content:center;
    align-items:center;
	&-panel{
		position: absolute;
		width: 300px;
		box-shadow: 0 0 15px;
		border-radius:5px;
		background: #fff;
		hr{
			width: 90%;
			height:1px;
			border:none;
			border-top:1px ridge #ccc;
		}
		&-title{
			font-size: 1.5rem;
			margin:10px auto;
		}
		&-formCom{
			margin:10px auto;
			padding: 5px;
			&-input{
				box-sizing: border-box;
				display: inline-block;
				width:90%;
			    padding: 10px 7px;
			    font-size: 14px;
			    border: 1px solid #dddee1;
			    border-radius: 4px;
			    color: #495060;
			    background-color: #fff;
			    background-image: none;
			    position: relative;
			    cursor: text;
			    transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
			    &:hover,&:focus{
			    	border-color:#57a3f3;
			    }
			    &:focus {
				    outline: 0;
				    box-shadow: 0 0 0 2px rgba(45,140,240,.2)
				}
			}
		}
		&-unLogin{
			text-align: left;
    		text-indent: 20px;
		}
		&-btnGroup{
			margin:10px auto;
		}
		&-btn{
			display:inline-block;
			width: 45%;
			padding: 8px 0;
			margin: 5px auto;
			color:#fff;
			cursor: pointer;
			background-color: #2d8cf0;
			transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
			&:hover{
				background-color:#57a3f3;
			}
		}
	}
}